name: Terraform CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      # Checkout
      - name: Checkout repository
        uses: actions/checkout@v3

      # Install Terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.7

      # Init
      - name: Terraform Init
        run: terraform init

      # Plan
      - name: Terraform Plan
        id: plan
        run: terraform plan -out=tfplan

      # Apply only if plan SUCCESS
      - name: Terraform Apply
        if: success()
        run: terraform apply -auto-approve tfplan
